html {
    font-family: Helvetica, Arial, sans-serif;
}

main {
    margin: 0 auto;
    width: 80%;
    min-width: 960px;
}

main h1 {
    margin-bottom: 0;
    text-align: center;
}

#d3chart svg {
    display: block;
    margin: 0 auto;
}

.save-container {
    margin: 1em auto 0;
    text-align: center;
}

.save-button {
    padding: 6px 12px;
    font-size: 12px;
}