html {
    font-family: Helvetica, Arial, sans-serif;
}

main {
    margin: 0 auto;
    width: 80%;
    min-width: 960px;
}

main h1 {
    margin-bottom: 0;
    text-align: center;
}

main .d3 svg {
    margin: 0 auto;
}